h1,
h2 {
  font-family: Lato;
}

.quizContainer {
  padding: 2em;
  max-width: 840px;
  margin: 0 auto;
}

.questionImages {
  margin-bottom: 1em;
  width: 100%;
  display: grid;
  row-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.questionImages img {
  max-width: 250px;
}

.resultCard,
.questionsCard {
  display: none;
}

.questionsCard {
  position: relative;
  margin-top: 1em;
}

.questionsCard .timer {
  width: fit-content;
  padding: 0.75em 1em;
  font-weight: 600;
  position: absolute;
  right: -1em;
  top: -1em;
}

.question {
  margin: 1em 0.5em 0.5em;
}

.choiceList {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
}

.choiceList label {
  width: 100%;
}

.btns .col {
  display: flex;
  justify-content: center;
  padding: 1.25em 0;
}
